<span class="sector">EDUCACIÓN</span>
<div class="container-fluid border border-dark">
    <div class="border-dark border-top border-bottom">
        <div class="sector-img">
            <!-- Nombre Completo -->
            <img [src]="img_arg" class="img-insti" alt="Imagen de la institución">
        </div> 
        <div class="aside">
            <!-- Información sobre la escuela -->
            <span class="enfasis-mini-secondary">Plan Argentina Programa</span><br>
            <p><strong>Titulo: "#YoProgramo"</strong></p>
            <div class="d-flex justify-content-end">
                <i>Periodo de estudio: 2022-actualidad</i>
            </div>
        </div>  
    </div>
    <div class="border-dark border-top border-bottom">   
        <div class="sector-img">
        <!-- ↓ Imagen de la Escuela ↓ -->
        <img [src]="img_fiunlz" class="img-insti" alt="Imagen de la institución">
        </div>
        <div class="aside">
            <!-- Información sobre la escuela -->
            <span class="enfasis-mini-secondary">Universidad Nacional de Lomas de Zamora</span> <br>
            <p><strong>Titulo: Tecnico en programacion de computadores</strong></p>
            <p> Facultad de Ingenieria de la Universidad de Lomas de Zamora, materias cursadas: Seguridad Informatica, Sistemas Operativos, entre otros.
                También materias sobre los lenguajes de programación: C, C++, Java y Html
            </p>
            <div class="d-flex justify-content-end">
                <i>Periodo de estudio: 2020-actualidad</i>
            </div>
        </div>
    </div>
    <div class="border-dark border-top border-bottom">   
        <div class="sector-img">
            <!-- ↓ Imagen de la Escuela ↓ -->
            <img [src]="img_arg" class="img-insti" alt="Imagen de la institución">
        </div>
        <div class="aside">
            <!-- Información sobre la escuela -->
            <span class="enfasis-mini">Plan Argentina Programa</span> <br>
            <b>Titulo: "#SeProgramar"</b> <br>
            <div class="d-flex justify-content-end">
                <i>Periodo de estudio: 2022</i>
            </div>
        </div>
    </div>
    <div class="border-dark border-top border-bottom">
        <div class="sector-img">
            <!-- ↓ Imagen de la Escuela ↓ -->
            <img [src]="img_nu" alt="Imagen de la institución">
        </div>
        <div class="aside">
            <!-- Información sobre la escuela -->
            <span class="enfasis-mini">Escuela Secundaria N°1 "Naciones Unidas"</span> <br>
            <span><strong>Titulo: Bachiller en economía y administración</strong></span> <br>
            <p>Promedio General: 7,55</p>
            <div class="d-flex justify-content-end">
                <i>Periodo de estudio: 2014-2019</i>
            </div>
        </div>
    </div>
    <div class="border-dark border-top border-bottom">
        <div class="sector-img">
            <!-- ↓ Aqui va la imagen de la Escuela ↓ -->
        </div>
        <div class="aside">
            <!-- Información sobre la escuela -->
            <span class="enfasis-mini">Escuela Primaria N°14</span> <br>
            <i>Blvd. Buenos Aires 690, B1842CDT Gran Buenos Aires, Provincia de Buenos Aires</i>
            <div class="d-flex justify-content-end">
                <i>Periodo de estudio: 2007-2013</i>
            </div>
        </div>
    </div>
</div>