<div>
    <span class="sector">EDUCACIÓN</span>
    <div class="border border-dark">   
          <div class="section border-end border-dark">
              <!-- Nombre Completo -->
              <img [src]="img_arg" alt="Imagen de la institución">
          </div>
          <div class="aside">
              <!-- Información sobre la escuela -->
              <p class="badge text-bg-secondary">Plan Argentina Programa</p><br>
              <b>Titulo: "#YoProgramo"</b> <br>
              <i>Periodo de estudio: 2022-actualidad</i>
          </div>
    </div>
    
    <div class="border border-dark">   
          <div class="section border-end border-dark">
              <!-- ↓ Imagen de la Escuela ↓ -->
              <img [src]="img_fiunlz" alt="Imagen de la institución">
          </div>
          <div class="aside">
              <!-- Información sobre la escuela -->
              <p class="badge text-bg-secondary">Universidad Nacional de Lomas de Zamora</p> <br>
              <p><strong>Titulo: Tecnico en programacion de computadores</strong></p>
              <p> Facultad de Ingenieria de la Universidad de Lomas de Zamora, materias cursadas: <strong>Seguridad Informatica, Sistemas Operativos, entre otros.</strong> 
                  También materias sobre los lenguajes de programación: <strong> C, C++, Java y Html </strong></p>
              <i>Periodo de estudio: 2020-actualidad</i> <br>
              <i>Av. Juan XXIII y, Lomas de Zamora, Provincia de Buenos Aires</i>
          </div>
    </div>
    
    <div class="border border-dark">   
          <div class="section border-end border-dark">
              <!-- ↓ Imagen de la Escuela ↓ -->
              <img [src]="img_arg" alt="Imagen de la institución">
          </div>
          <div class="aside">
              <!-- Información sobre la escuela -->
              <p class="badge text-bg-primary">Plan Argentina Programa</p> <br>
              <b>Titulo: "#SeProgramar"</b> <br>
              <i>Periodo de estudio: 2022</i>
          </div>
    </div>
    
    <div class="border border-dark">   
          <div class="section border-end border-dark">
              <!-- ↓ Imagen de la Escuela ↓ -->
              <img [src]="img_nu" alt="Imagen de la institución">
          </div>
          <div class="aside">
              <!-- Información sobre la escuela -->
              <p class="badge text-bg-primary">Escuela Secundaria N°1 "Naciones Unidas"</p> <br>
              <span><strong>Titulo: Bachiller en economía y administración</strong></span> <br>
              <i>Promedio General: 7,55</i> <br>
              <i>Periodo de estudio: 2014-2019</i> <br>
              <i>Alvear S/N, Dr. Emilio Cardeza y, B1842 Monte Grande, Provincia de Buenos Aires</i>
          </div>
    </div>
      
    <div class="border border-dark">
          <div class="section border-end border-dark">
                  <!-- ↓ Aqui va la imagen de la Escuela ↓ -->
          </div>
          <div class="aside">
              <!-- Información sobre la escuela -->
              <p class="badge text-bg-primary">Escuela Primaria N°14</p> <br>
              <i>Periodo de estudio: 2007-2013</i> <br>
              <i>Blvd. Buenos Aires 690, B1842CDT Gran Buenos Aires, Provincia de Buenos Aires</i>
          </div>
    </div>
  </div>