<nav class="navbar">
    <div class="container-fluid">
            <!-- Nombre del Usuario -->
            <a routerLink="" type="button" class="boton">{{title}}</a>
        <div>
            <a *ngIf="username" type="button" class="boton"><strong>Perfil</strong></a>
            <a *ngIf="!username" type="button" class="boton" (click)="openDialogReg()"><strong>Login | Register</strong></a>
            <!-- Botón para Ir a Linkedin -->
            <a class="boton logobtn" href="https://www.linkedin.com/in/lautaro-seoane/"><img [src]="linkedin_image" alt="linkedin"></a>
        </div>
    </div>
</nav>