.progress{
    border-radius: 0%;
    transition-property: height;
    transition-duration: 1s;
    background-color: transparent;
}
.progress-bar{
    color:black;
    font-size: larger;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    opacity:0;
    background-color: transparent;
    transition-property: height,opacity;
    transition-duration: 1s;
}
.skill_container{
    color: white;
    height: 50px;
    min-width: 100px;
    max-width: auto;
    grid-template-columns: auto;
    margin: 4px;
    border-radius: 4px;
    background-color: #086afd;
    transition-duration: 0.5s;
}
.skill_container:hover{
    height: 104px;
}
.skill_container:hover .progress{
    height: 30px;
    background-color: white;
}
.skill_container:hover .progress-bar{
    background-color: #55a8fd;
    opacity: 1;
    height: 35px;
}
.name_skill{
    height: 70px; 
    display: flex;
    justify-content: center; 
    padding-top: 15px;
}