<div class="container-fluid formulario">

    <div class="selector">
        <a type="button" class="boton-selector btn" href="register"><strong>Registrarse</strong></a>
        <span>|</span>
        <a type="button" class="boton-selector btn borde-verde" style="color: white;" (click)="changeLog()"><strong>Iniciar Sesión</strong></a>
    </div>

    <div class="d-flex justify-content-center">
        <span *ngIf="!bool" style="margin: 4px;"><strong>Ya estás ahí</strong></span>
    </div>

    <div class="divider"></div>

    <strong><p>Inicie Sesión en su Cuenta</p></strong>

    <form class="form-group row">

        <strong><p>Ingrese su E-mail: <input placeholder="....@gmail.com" class="form-control" name="email" type="email" ></p></strong>

        <strong><p>Ingrese su Contraseña: <input type="password" class="form-control" name="password" placeholder="Contraseña" ></p></strong>
        
    </form>

    <div class="divider"></div>

    <button style="margin-bottom: 10px;" class="btn" type="submit">Enviar</button>

</div>