<div class="container-fluid border border-dark d-flex">
    <div class="section border-end border-dark">
        <!-- Nombre Completo -->
        <h4><strong>Lautaro Martín Seoane</strong></h4>
    </div>
    <div class="aside">
        <!-- Información Profesional -->
        <span class="enfasis-mini">Información acerca de MI</span>
        <p>Joven aspirante a Desarrollador Full Stack Jr, en busqueda de poder adquirir experiencias y conocimientos en el área correspondiente, sin experiencia profesional.</p>
    </div>
</div>