<div class="border border-dark">
    <div class="section border-end border-dark">
        <!-- Nombre Completo -->
        <h4><strong>Lautaro Martín Seoane</strong></h4>
    </div>
    <div class="aside">
        <!-- Información Profesional -->
        <p class="badge text-bg-primary">Información acerca de MI</p>
        <p>Joven aspirante a Desarrollador Full Stack Jr, en busqueda de poder adquirir experiencias y conocimientos en el área correspondiente, sin experiencia profesional.</p>
    </div>
</div>