*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
.boton{
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
}
.boton:hover{
    color: white;
    text-decoration: none;
}
.aside{
    width: 100%;
    min-height: 120px;
    max-height: auto;
    padding-left: 10px;
}
i{
    color:gray;
    font-size: smaller;
}
.sector{
    background-color: #086afd;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger; 
    justify-content: center; 
    align-items: center;
    display: flex;
    text-transform: uppercase;
    border: black 1px solid;
}
.enfasis-mini{
    border-radius: 4px;
    width: fit-content;
    height: auto;
    background-color: #086afd;
    color: white;
    font-size: smaller; 
    font-weight: bolder;
    text-transform: uppercase;
    border: black 1px solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.enfasis-mini-secondary{
    border-radius: 4px;
    width: fit-content;
    height: auto;
    background-color: gray;
    color: white;
    font-size: smaller; 
    font-weight: bolder;
    text-transform: uppercase;
    border: black 1px solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.divider{
    border-top: black 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
}